body {
  background-color: #86c8c8; /* Cambia esto por el color que desees */


}

nav {
  background-color: #f8f9fa;
  padding: 10px;
  border-radius: 5px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 15px;
}

nav a {
  text-decoration: none;
  color: #007bff; /* Color de enlace */
}

nav a.active {
  font-weight: bold;
  text-decoration: underline;
}
